@model dynamic

<ul class="nav navbar-nav">
 
    @if (Request.IsAuthenticated)
    {
        
        <li>@Html.ActionLink("Devices", "Index", "Device")</li>
    }
    else
    {
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        
    }
</ul>

