@model EDeviceClaims.WebUi.Models.ClaimViewModel

<div style="text-align: center;">

    <h1>Device Name Claim Details</h1>

    <h2>Content TBD In Later Milestone</h2>

    @Html.ActionLink("Back to Devices", "Index", "Device", routeValues: null, htmlAttributes: new { Class = "btn btn-danger btn-lg" })

</div>