
@using System.Data.Entity.Migrations.Infrastructure
@model EDeviceClaims.WebUi.Models.DeviceListViewModel
    
@{
    var claimCheck = true;
}


<h2 align="center">Details</h2>


<div>
    
    <h3 align="justify"> This is a overview of your device </h3>
    <p>jfakljflkdjf lkafdjlfkvsndlkfnlkdasklfjlkasbjflasj</p>
    <p>jfakljflkdjf lkafdjlfkvsndlkfnlknjksajdfkjdasklfjlkasbjflasj</p>
    <p>jfakljflkdjf lkafdjlfkvsndlkfnlknjksajdasklfjlkasbjflasj</p>
    <p>jfakljflkdjf lkafdjlfkvsndlkfnlknjksajdfkjdasklfjlkasbjflasj</p>
    <p>jfakljflkdjf lkafdjlfkvsndlkfnlknjksajjdasklfjlkasbjflasj</p>
    <p>jfakljflkdjf lkafdjlfkvsndlkjdasklfjlkasbjflasj</p>
    <p></p>
    <p></p>
    <p></p>
    @if (!claimCheck)
    {
        @Html.ActionLink("Start Claim", "StartClaim", "Device", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("View Claim", "ViewClaim", "Device", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-lg" })

    }
     











</div>


