

@model EDeviceClaims.WebUi.Models.DeviceViewModel
    
<h2 style="text-align: center;">Model.Name Details</h2>
@Html.Partial("_deviceDetailsTable", Model)

<div style="text-align: center; padding-top: 25px;">
    @Html.Partial("_claimButton", Model)

    @Html.ActionLink("Back to Devices", "Index", "Device", routeValues: null, htmlAttributes: new { Class = "btn btn-danger btn-lg" })




</div>

<style>
    table#deviceListTable {
        margin: auto;
        width: 25%;
        background-color: #f1f1c1;
        text-align: center;
    }

        table#deviceListTable tr:nth-child(even) {
            background-color: #eee;
        }

        table#deviceListTable tr:nth-child(odd) {
            background-color: #fff;
        }

        table#deviceListTable th {
            color: black;
            background-color: gray;
            text-align: left;
        }

    table, th, td {
        border: 1px solid black;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/device_details.js"></script>
}