@model EDeviceClaims.WebUi.Models.ClaimViewModel

<h2>ViewClaim</h2>

<div>
    <table class="table" id="claimDetailsTable">
        <tr>
            <th>@Html.Label("Claim ID")</th>
            <td>@Model.Id</td>
        </tr>
    </table>
</div>
