@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">Welcome alien vistors! Hit the big button to login or register!</p>
    <p>The footer below contains links related to Columbus State Community College...</p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("View Devices", "Index", "Device", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @Class = "btn btn-primary btn-lg" })
    }
</div>